.form {
    font-family: "SegoeUIRegular";
}

.form__user-container {
    display: flex;
    gap: 24px;
    width: 700px;
}

.form input {
    font-family: inherit;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding-bottom: 3px;
    margin-bottom: 4px;
    width: 100%;
}

.input__error {
    border-bottom: 1px solid #F55123 !important;
    color: #F55123 !important;
}

.form__name,
.form__surname {
    width: calc(50% - 12px);
}

.form__error {
    font-size: 12px;
    line-height: 14px;
    color: #F55123;
    min-height: 14px;
}

.form__error-inner {
    color: #000000 !important;
}

.form__phone,
.form__email,
.form__inn {
    width: calc(33.33% - 16px);
}

.form__name>label,
.form__email>label,
.form__phone>label,
.form__surname>label,
.form__inn>label {
    opacity: 0;
    color: #A0A0A4;
    margin-bottom: 2px;
    font-size: 13px;
    line-height: 16px;
}

.label__active {
    opacity: 1 !important;
}

.form input::placeholder {
    color: #A0A0A4;
}

.form__name:focus-within>input::placeholder,
.form__email:focus-within>input::placeholder,
.form__phone:focus-within>input::placeholder,
.form__surname:focus-within>input::placeholder,
.form__inn:focus-within>input::placeholder {
    opacity: 0;
}

@media screen and (max-width: 1260px) {
    .form__user-container {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .form__user-container {
        display: block;
    }

    .form__name,
    .form__email,
    .form__phone,
    .form__surname {
        width: 100%;
        margin-bottom: 16px;
    }

    .form__inn {
        width: 100%;
    }

    .form__name>label,
    .form__email>label,
    .form__phone>label,
    .form__surname>label,
    .form__inn>label {
        margin-bottom: 2px;
        line-height: 8px;
    }
}