@font-face { 
    font-family: "SegoeUIRegular";
    src: url("../assets/fonts/SegoeUI.woff") format("woff"),
    url("../assets/fonts/SegoeUI.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face { 
    font-family: "SegoeUISemiBold";
    src: url("../assets/fonts/SegoeUI-SemiBold.woff") format("woff"),
    url("../assets/fonts/SegoeUI-SemiBold.woff2") format("woff2");
    font-style: normal;
    font-weight: 600;
}

@font-face { 
    font-family: "SegoeUIBold";
    src: url("../assets/fonts/SegoeUI-Bold.woff") format("woff"),
    url("../assets/fonts/SegoeUI-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}

html, body, h1, h3, h4, h2, h6 {
    padding: 0;
    margin: 0;
}

body {
    background: #6725A8;
}

* {
    box-sizing: border-box;
}

span, a, img, button, input, label, svg {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

a, button {
    cursor: pointer;
}

input, button {
    padding: 0;
    margin: 0;
    background: transparent;
    outline: none;
    border: none;
    color: inherit;
}